body {
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

header {
  width: 100%;
  background-color: #ffba00;
}
.header {
  position: fixed;
  z-index: 1000;
}
.header_wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 0; */
}

.menu_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.menu_navbar--item {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.menu_navbar--item a {
  padding: 15px 0;
}

.menu_optional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.menu_optional--item {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.menu_optional--item a {
  padding: 15px 0;
  display: flex;
  gap: 10px;
}
.menu_optional--item a i {
  font-size: 1.5rem;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu img {
  height: 35px;
}
.header_menu--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.header_menu--list li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.4rem;
  line-height: 4.8rem;
}
.header_menu--list li a i {
  font-size: 2.4rem;
}

/* slider */
.main {
  width: 960px;
  margin: auto;
  background-color: #fff;
  padding-top: 96px;
}

.slider {
  padding: 12px 0;
}
.sliderBox {
  width: 936px;
  max-width: 100vw;
  padding: 12px 12px;
  height: 234px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.sliderImg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: max-content;
  transition: 1s;
}
.sliderImg img {
  width: 936px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.sliderBtn {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.sliderBtn button {
  height: 50px;
  width: 50px;
  background-color: #f4f4f4;
  border-radius: 50%;
  border: none;
  opacity: 0.5;
}
.sliderBtn button:hover {
  opacity: 0.8;
}

.sliderDots {
  position: absolute;
  bottom: 5%;
  left: 45%;
  display: flex;
  width: 10%;
  justify-content: space-between;
}
.sliderDots li {
  width: 10px;
  height: 10px;
  background-color: #f4f4f4;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}
.sliderDots li.active {
  opacity: 0.8;
  width: 20px;
  border-radius: 20%;
}
/* slider danh mục */
.sliderItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 12px 12px;
}
.itemBox {
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  height: 80px;
  width: 100%;
}
.itemBox span {
  max-width: 100px;
  text-align: center;
  margin: 2px 0;
}
.itemBox img {
  width: 33px;
  height: 33px;
}

/* khám phá danh mục */

.category {
  border-top: solid 15px;
  border-color: #f4f4f4;
}
.category h2 {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  padding-left: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
}

.categoryBox_list {
  display: flex;
  flex-wrap: wrap;
  height: 280px;
  overflow: hidden;
}
.categoryBox_item {
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.categoryBox_item img {
  width: 84px;
  height: 84px;
}
.categoryBox_item span {
  max-width: 110px;
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.29;
}

/*post nem */
.postNew {
  border-top: 12px solid #f4f4f4;
}
.postNew h2 {
  padding: 12px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
}
.postNewBox {
  display: flex;
  flex-wrap: wrap;
}
.postNewItem {
  width: 192px;
  height: 100%;
  cursor: pointer;
  border: 1px solid #f4f4f4;
  border-bottom-color: #f4f4f4;
}
.postNewItem:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.postNewItem img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  margin: 12px auto;
  max-height: 166px;
}
.postNewItem h3 {
  color: #222;
  margin: 0 auto;
  width: 90%;
  line-height: 1.41;
  font-size: 13px;
  font-weight: 500;
}
.postNewItem > span {
  display: block;
  color: #d0021b;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.33;
  margin: 12px auto;
  width: 90%;
}
.boxUser {
  margin: 12px auto;
  width: 90%;
  color: #9b9b9b;
}
.boxUser > i {
  padding-right: 12px;
}
.more {
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
}
.more > a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: rgb(56, 105, 159);
  padding: 12px 0;
}
.info {
  background-color: #f4f4f4;
}
.info h1 {
  padding: 8px 0;
}
.info p {
  font-size: 12px;
  color: rgb(119, 119, 119);
  line-height: 1.5;
  margin: 0 0 5px;
}
/*# sourceMappingURL=main.css.map */
